a {
  text-decoration: none;
  color: #e5ab6b;
}
.font-line-height-30 {
  line-height: 30px;
}

.font-line-height-50 {
  line-height: 50px;
}

.font-line-height-80 {
  line-height: 80px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}



.flex-nowarp {
  flex-wrap: nowrap;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-row-between {
  flex-direction: row;
  justify-content: space-between;
}

.flex-between {
  justify-content: space-between;
}



.flex-justify-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start
}

.flex-align-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}
.flex-col-align-center{
  align-items: center;
  flex-direction: column;
}
.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.margin-top-170 {
  margin-top: 170px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 25px;
}

.header-bg {
  background-color: #fff;
  ;
}

.header-left {
  position: fixed;
  left: 10px;
  top: 10px;
  height: 32px;
}

.header-right {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 32px;
}

a {
  text-decoration: none;
}

.navbar-content li {
  list-style: none;
  ;
}

.logo {
  padding-top: 5px;
  padding-left: 24px;
}

.menu {
  color: #512345;
  font-size: 2em;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}


.btn-partner{
  display: flex;
  justify-content: center;
  border-radius: 4%;
  color: #fff;
  background-color: #512345;
  border-style: none;
  text-align: center;
  margin: 1px;
  align-items: center;
  height: 45px;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

/* .img-ellipse10 {
  position: absolute;
  top: -4%;
  left: 62%;
  width: 100%;
  z-index: -3;
}

.ellipse10 {
  width: 47%;
} */

/* .img-cofe {
  position: absolute;
  top: 8%;
  left: 66%;
  width: 100%;
  z-index: -3;

}
 */
.cofe {
  width: 40%;
  transform: rotate(-45deg);
}


.btn-partner:hover {
  cursor: pointer;
  background: rgba(81, 35, 69, 0.9);
}


header {
  padding: 24px;
  color: #512345;
}

.card-text {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: #e5ab6b;
  line-height: 24px;
  letter-spacing: 0.1px;

}

.text-header {
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  letter-spacing: 0.2px;
  color: #191C2C;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-footer {
  font-size: inherit;
}

.btn-color-w {
  text-align: center;
  border: 1px solid #e5ab6b;
  color: #e5ab6b;
  background-color: #fff;
}

.btn-color-o {
  color: #fff;
  background-color: #e5ab6b;
  border-style: none;
}

.btn-color-o:hover {
  cursor: pointer;
  background: rgba(229, 171, 107, 0.8);

}

.btn-color-w:hover {
  cursor: pointer;
  color: rgba(229, 171, 107, 0.8);
  border-color: rgba(229, 171, 107, 0.8);
  background-color: #fff;

}

.radius-5 {
  border-radius: 5px;
}

.card-body {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #737373;
}

.card-footer>button {
  text-align: center;
  padding: 15px 40px;
  margin: 5px;
  width: 175px;
  height: 52px;
}

.cova-app {
  /* margin: 10% 0 0 120px; */
  margin: auto;
  width: 50%;
}

.number-text {
  font-size: 40px;
  margin-bottom: -25px;
  color: #e5ab6b;
  padding: .5em;
}

.cova-number {
  color: #e5ab6b;
  font-size: 30px;
  text-align: center;
}


.absolute-clean-top {
  width: 100%;
  height: 188px;
}



.arrow_forward {
  font-variation-settings:
    'opsz' 20
}


.ellipse10_transform {
  transform: rotate(45deg);
}

.section-cova-about {
  background-color: #fff;
  padding: 0 20px;
  margin-top: 66px;
}

.cova-about {
  height: 50%;
  width: 401px;
  margin: auto;
}

.img-mariana-cofe-2 {
  width: 490px;
  height: 600px;

}

.mariana-cofe-2 {
  position: relative;
  right: 45px;
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.cova-about>.card-header {
  font-style: normal;
  font-size: 26px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.about-body {
  width: 410px;
  height: 176px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #737373;
}

.cova-number p {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 30px;
}

.number-text {
  font-size: 40px;
}

.card-contact {
  font-weight: 700;
  font-size: 14px;
  line-height: 70px;
  letter-spacing: 0.2px;

}

@media all and (max-width: 950px) {
  .section-cova-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  .mariana-cofe-2 {
    position: static;
    right: 0px;
  }

}

/* */
@media screen and (max-width: 481px) {
  .img-mariana-cofe-2 {
    width: 100%;
  }

  .logo-img {
    width: 120px;
  }

  .navbar-header {
    margin-top: 5px;
  }

  .margin-top-170 {
    margin-top: 70px;
  }

  .card-body {
    font-size: 18px;
    width: 220px;
  }

  .text-header {
    font-size: 28px;
  }

  .donload-now-more {
    flex-direction: column;
  }

  .absolute-clean-top {
    height: 35px;
  }


  .flex-row-between {
    flex-direction: column;
    width: 142px;
  }

  .font-size {
    font-size: 1em;
  }


  .text-partner {
    font-size: 12px;
    margin-top: 0px;
  }

  .arrow_forward {
    font-size: 16px;
  }


  .cova-number {
    font-size: 30px;
  }

  .cova-number p {
    font-size: 22px;
  }

  .number-text {
    font-size: 30px;
  }

  .img-mariana-ibanez {
    position: relative;
    top: -6%;
    left: -60%;
    width: 130%;
    z-index: -3;
    transform: rotate(-30deg);
  }

  .img-cofe2 {
    position: relative;
    top: -70%;
    left: 15%;
    width: 95%;
    z-index: -4;
  }

  .cova-about {
    margin-left: 0px;
  }
}

@media screen and (min-width:481px) and (max-width: 769px) {
  .absolute-clean-top {
    height: 35px;
  }

  .text-header {
    font-size: 48px;
  }

  .card-body {
    width: 300px;
  }

  .font-size {
    font-size: 1.2em;
  }

  .text-partner {
    font-size: 12px;
    margin-top: 0px;
  }

  .arrow_forward {
    font-size: 16px;
  }


  .cova-number {
    font-size: 1.5em;
  }

  .cova-number p {
    font-size: 28px;
  }

  .number-text {
    font-size: 38px;
  }

  .margin-top-170 {
    margin-top: 70px;
  }

  .text-header {
    font-size: 38px;
  }


  .card-body {
    width: 335px;
  }

}

@media screen and (min-width:769px) and (max-width: 1200px) {

  .number-text {
    padding: 0px;
  }

  .font-size {
    font-size: 1.4em;
  }

  .text-partner {
    font-size: 12px;
    margin-top: 0px;
  }

  .arrow_forward {
    font-size: 16px;
  }

  .cova-number {
    font-size: 1.5em;
  }

  .mariana-ibanez {
    width: 105%;
    /* transform: rotate(-45deg); */
  }

  .cofe2 {
    width: 120%;
  }

  .img-mariana-ibanez {
    position: relative;
    top: -6%;
    left: -60%;
    width: 130%;
    z-index: -3;
    transform: rotate(-30deg);
  }

  .img-cofe2 {
    position: relative;
    top: -70%;
    left: 15%;
    width: 95%;
    z-index: -4;
  }

  /* .margin-top-170 {
    margin-top: 70px;
  } */

  .text-header {
    font-size: 48px;
  }

}
@media all and (min-width: 930px) {
  .img-section-1{
    width: 60%;
    object-fit: cover;
    position: relative;
    z-index: -1;
    top: -42%;
    left: 4%;
  }
  .ellipse10{
    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 15%;
  }

  .cofe{
    position: absolute;
    z-index: 1;
    top: 15%;
    right: -6%;
    width: 95%;
    height: auto;
  }
  .cova-app {
    width: 50%;
  }

  .section-1-img-text{
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
  }
}

@media all and (max-width: 930px) {
  .img-section-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .ellipse10{
    width: 90%;
    height: 100%;
    margin-left: 5%;
  }

  .cofe{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .btn-partner{
    height: 58px;
    width: 105%;
  }
  .number-text {
    padding: 0px;
  }

  .font-size {
    font-size: 1.4em;
  }

  .text-partner {
    font-size: 18px;
    margin-top: 0px;
  }

  .arrow_forward {
    font-size: 16px;
  }

  .cova-number {
    font-size: 1.6em;
  }

  .text-number {
    font-size: 0.8em;
  }

  /* 
    .card-body {
      width: 300px;
    } */

  .mariana-ibanez {
    width: 100%;
    /* transform: rotate(-45deg); */
  }

  .cofe2 {
    width: 100%;
  }

  .img-mariana-ibanez {
    position: relative;
    top: -6%;
    left: -60%;
    width: 130%;
    z-index: -3;
    transform: rotate(-30deg);
  }

  .img-cofe2 {
    position: relative;
    top: -70%;
    left: 15%;
    width: 95%;
    z-index: -4;
  }
}

@media screen and (min-width:1600px) {
  .btn-partner{
    height: 58px;
    width: 105%;
  }

  .number-text {
    padding: 0px;
  }

  .font-size {
    font-size: 1.6em;
  }

  .text-partner {
    font-size: 19px;
    margin-top: 0px;
  }

  .arrow_forward {
    font-size: 19px;
  }



  .cova-number {
    font-size: 1.5em;
  }


  /* 
    .card-body {
      width: 385px;
    } */

  .mariana-ibanez {
    width: 100%;
    /* transform: rotate(-45deg); */
  }

  .cova-about {
    width: 500px;
  }

  .cofe2 {
    width: 100%;
  }

  .img-mariana-ibanez {
    position: relative;
    top: -6%;
    left: -60%;
    width: 130%;
    z-index: -3;
    transform: rotate(-30deg);
  }

  .img-cofe2 {
    position: relative;
    top: -70%;
    left: 15%;
    width: 95%;
    z-index: -4;
  }
}

/* section 3 categores */
.groups-img {
  background: #F7F7F7;
  width: 100%;
}

.categores_titel {
  color: #252B42;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.categores-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-item {
  margin: 30px auto;
  width: 276px;
  height: 205px;
  border-radius: 40px;
  background-color: #FFFFFF;
  margin: 16px;
  /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
  cursor: pointer;
  transition: 0.4s;
}


.category-item .category_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.category-item .category_image img {
  /* width: inherit;
  height: inherit; */
  width: 75%;
  height: 90%;
  border-radius: 40px;
  object-fit: contain;
  padding-left: 12.5%;
}

.category-item .category_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.184685px;
  margin-top: -50px;
  height: 40px;
}

.category-item:hover {
  transform: scale(0.9, 0.9);
  /* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22); */
}

.title-white {
  color: white;
}

.title-black {
  color: #252B42;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

.categores_position {
  padding-bottom: 104px;
}

/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/

/* section 4,5 */
.track-order {
  background: #fff;
  width: 86%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.margin-80-110-tb {
  margin-top: 80px;
  margin-bottom: 110px;
}

.track-order-item-1 {
  width: 45%;
  margin: 20px 20px 72px 20px;
}

.track-order-item-2 {
  width: 45%;
  margin: 20px;
}

.track-order-title {
  width: 357px;
}

.track-order-body {
  width: 350px;
  height: 70px;
}

.traking-image {
  width: 100%;
  object-fit: fill;

}

.phone-image {
  width: 418px;
  height: inherit;
  object-fit: fill;
}

@media screen and (max-width:485px) {
  .about-body {
    width: 350px;
    height: 100%;
  }

  .track-order-body {
    width: 97%;
    height: 100%;
  }

  .categores_titel {
    font-size: 30px;
  }
}

@media all and (max-width: 1150px) {
  .track-order-item {
    width: 40%;

  }
}

@media all and (max-width: 930px) {

  .track-order {
    justify-content: center;
  }

  .track-order-item-1 {
    width: 70%;
    padding: 20px;
  }

  .track-order-title {
    font-size: 35px;
    line-height: 40px;
  }

  .track-order-p {
    width: 100%;
  }

  .width-930 {
    width: 100%;
  }

  .phone-image {
    height: 418px;
  }
}

.rider-partner {
  background: #fff;
  width: 100%;
  height: auto;
  margin: 50px auto;
  position: relative;
  justify-content: center;

}

.card-rider-partner {
  width: 547px;
  height: 627px;
  margin: 50px;
}

@media all and (max-width: 550px) {
  .track-order-item-1 {
    width: 100%;
    padding: 0px;
  }

  .track-order-title {
    font-size: 30px;
  }
  .card-rider-partner {
    width: 90%;

  }
}
.card-rider-partner-header {
  width: 375px;
  height: 61px;
  margin-top: 38px;
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.card-rider-partner-body {
  width: 375px;
  width: 301px;
  height: 62px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}

.card-rider-partner-footer {
  display: contents;
  width: 257px;
  height: 65px;
}

.card-rider-partner-footer a {
  width: inherit;
  height: inherit;
}

.card-rider-partner-footer a button {
  width: inherit;
  height: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.rider-partner-img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 1;
}

.position-absolute {
  position: absolute;
  z-index: 2;
}
