:root {
  --primary: rgb(254, 77, 1);
  --primary-dark: rgb(209, 63, 0);
  --primary-70: rgba(254, 98, 1, 0.7);
  --primary-50: rgba(248, 88, 2, 0.77);
  --primary-30: rgb(238, 102, 3);
  --primary-10: rgba(254, 106, 1, 0.82);
  --logo: #f86103;
  --sidebar-icon: #e7892b;
}


.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(254, 111, 1)),
    to(#ee6603)
  );

  background-image: linear-gradient(
    0deg,
    rgb(254, 90, 1),
    rgb(255, 126, 0)
  );
}
