/* *{
  font-family: 'Helvetica Neue',Helvetica,"Lucida Grande", Arial, sans-serif;
  font-style: normal;
} */

body{
    margin: 0;
    padding: 0;
    font-style: normal;
}

header{
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;

}
a{
    color: #fff;
    text-decoration: none;
}

  .header-mobile{
    padding: 0;
    justify-content: space-between;
  }

  .header-left{
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    position: fixed;
    z-index: 9999;
  }


  /* LOGO */
  .logo {
    font-size: 32px;
    display: flex;
    margin-left:31px ;
    margin-right: 31px;
  }
  .logo-img {
    width: 126px;
    height: 32px;
    max-height: 32px;
  }
  .header-bg {
    background-color: #fff;
    margin: -8px 0 0 -8px;
    padding: 10px;
    padding-left: 30px;
    color: #512345;
  }

  


/* contact section */
.contact-us{
  background-color: #d4944d;
}
.contact{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #d4944d;
  width: 35%;
  height: 876px;
  position: relative;
  z-index: 2;

}
.contact-title{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 10%;
  color: #fff;
  width: 100%;
  height: 653px;
  margin-right: 10%;
}
.contact-title h1{
  font-size: 52px;
  font-weight: bold;
}
.contact-title div{
  font-size: 20px;
}
.contact-img{
  position: absolute;
  top: 233px;
  z-index: 2;
}
.contact-img img{
  width: 100%;
  height: auto;
}
.position-relative{
  position: relative;
}
.contact-form > form > h1:first-of-type{
  margin-bottom: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}
.contact-form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 876px;
  background-color: #fff;
  position: relative;
  z-index: 5;
}

.contact-form>form{
  width: 577px;
}
.contact-form>form>div{
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .item{
  width: calc(100% - 21.65px);
}
.contact-form ::placeholder{
  color: #C7C8CA;
}
.contact-form input[type='text'] ,.contact-form input[type='email'], .contact-form textarea{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 4px;
  padding-left: 21.65px;
}

.contact-form .group-name div{
  width: 50%;
}
.contact-form .group-name div:first-of-type{
  margin-right: 27px;
  margin-left: 27px;
}

.contact-form .group-name input[type='text']{
  width: calc(100% - 21.65px);
}
.contact-form input[type='text'],.contact-form input[type='email']{
  height: 54px;
}

.contact-form input[type="submit"]{
  width: 449px;
  height: 64px;
  background: #E5AB6B;
  border-radius: 5px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  border-style: none;
}
.contact-form input[type="submit"]:hover{
  background: #D5944D;
  cursor: pointer;
}

.contact-form textarea{
  width: calc(100% - 21.65px);
  min-width: calc(100% - 21.65px);
  max-width: calc(100% - 21.65px);
  height: 171px;
  min-height: 171px;
  max-height: 171px;
  padding-top: 14px;
  overflow: hidden;
  max-inline-size: 5;
}
@media screen and (max-width: 1150px) {
  .contact-form{
    width: 100%;
  }
  .contact-us{
    flex-wrap: wrap;
  }
  .contact{
    width: 100%;
    height: unset;
  }
  .contact-img {
    top: 25%;
    width: 50%;
    left: 50%;
  }
}
@media screen and (max-width: 720px) {
  .contact-img {
    top: 0%;
    width: inherit;
    left: 0%;
  }
  .contact-title {
    height: 500px;
  }
  .contact-form>form{
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .contact-title {
    height: 400px;
  }
  .contact-form>form{
    width: 92%;
  }
  .contact-title {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  .select-selected {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 4px;
  }

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 24px;
    /* right: 10px; */
    right: var(--right, unset);
    left: var(--left, unset);
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #737373 transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #737373 transparent;
    top: 17px;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #737373;
    padding: 16px 10px;
    cursor: pointer;
    user-select: none;
    background-color: #FFFFFF;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: scroll;
    height: 200px;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: #EDEDED;
  }


.form-apply{
    /* crate box  */
    position: absolute;
    width: 521px;
    height: 439px;
    top: 168px;
    right: 120px;
    background: #FFFFFF;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.form-apply *{
    box-sizing: border-box;
}
.form-header{
    margin: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.group-name{
    display: flex;
    flex-direction: row;
}
.form-apply form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form-apply form div{
    width: 449px;
    /* height: 54px; */
}
.form-apply form .item{
margin-bottom: 20px;
}
.form-apply form div input,
.form-apply form div select{
    height: 54px;
    width: 100%;

}
.form-apply input[type="text"], .form-apply select {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 4px;
    margin-right: 21px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #737373;
}
.form-apply .group-name input[type="text"]{
    width: 214px;
    height: 54px;
}
.group-name input[type="text"]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #C7C8CA;
}
.form-apply input[type="submit"]{
    background: #E5AB6B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    border-style: none;
}
.form-apply input[type="submit"]:hover{
    background: #D5944D;
    cursor: pointer;
}

.logo img{
    width: 100px;
    height: 100px;
}
.img-partner-rider{
    width: 100%;
    height: 557px;
}



.m-160{
    margin-top: 160px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper-header {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #252B42;
}

.card {
    width: 280px;
    cursor: pointer;
    margin: 30px 40px 168px 40px;
}

.card-banner {
    width: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    position: relative;
    object-fit: contain;
    height: 100px;
    width: 100px;
}

.card-content {
    width: 275px;
    height: 88px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #000000;
}

.card-content>h4 {
    font-size: 20px;
    letter-spacing: 0.1px;
}

.card-content>p {
    font-size: 18px;
}

@media screen and (max-width: 481px) {
    .img-partner-rider {
        width: 100%;
        height: 300px;
    }
    .form-apply {
        position: static;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;

    }
    .form-apply form div {
        width: 98%;
    }
    .form-apply .group-name input[type="text"] {
        width: 95%;
        margin-right:unset ;
    }
    .form-apply form div input, .form-apply form div select {
        width: 98%;
    }

    .select-selected:after {
        /* right: 20px; */
        right: var(--right, unset);
        left: var(--left, unset);
    }
    .wrapper-header h3{
        font-size: 30px;
    }
}

@media screen and (min-width:481px) and (max-width: 769px) {
    .form-apply {
        position: static;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .img-partner-rider {
        width: 100%;
        height: 300px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .form-apply {
        position: static;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .img-partner-rider {
        width: 100%;
        height: inherit;
    }
}



/*
  * footer
 */

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

footer {
    background-color: #f7f7f7;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    height: 74px;
}

.social-media div a {
    color: #D5944D;
    text-decoration: none;
    font-size: 23px;
    margin: 0 10px;
}

.fa-youtube-play {
    border-radius: 100%;
}

@media all and (max-width: 600px) {
    .social-media {
        padding: 0px;
    }

    .social-media div {
        margin: 15px;
    }
}

.list-link-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.list-link-footer a {
    color: #252B42;
}

.nav-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.nav-footer ul li {
    margin: 15px;
    font-size: 15px;
}

.store-size-btn {
    width: 151.98px;
    height: 44.83px;
    margin: 15px;
}

.store-size-btn img {
    width: 100%;
    height: 100%;
}

.copy-cova {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #252B42;
    background-color: #EDEDED;
    margin-top: 10px;
}


/* message error  */

.bar {
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
  }


  .error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }

  i.ico {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
  }

  .bar { position: relative; }
  div.close {
    position: absolute;
    top: 30%;
    right: 10px;
    color: #888;
    cursor: pointer;
  }

  .message {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }
  .message span{
    padding-left: 5px;
    font-size: 14px;
    line-height: 20px;
  }

